.form-fields-row {
  display: flex;
  gap: 10px;
}

.puc-data:first-child {
  flex: 0.6;
}

.puc-data:last-child {
  flex: 0.4;
}

#address {
  display: flex;
  gap: 10px;
}

#street {
  flex: 1;
}

#number {
  flex: 0.2;
}

#region {
  flex: 0.7;
}

#delete {
  display: flex;
  justify-content: flex-end;
}

#delete button {
  color: #bd6c6c;
}

button.saved {
  background-color: #70bcbe;
}

button.error {
  background-color: #bd6c6c;
}
