.btn {
  width: 500px;
}

.info {
  cursor: pointer;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal-content .row {
  margin-bottom: 0;
  display: flex;
  gap: 20px !important;
}

.modal-content .row.meeting-point {
  margin-top: 10px;
}

.modal-content .icon-info {
  display: flex;
  align-items: center;
  gap: 5px;
}

.modal-content .route {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-passengers-list {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-passengers-list table {
  width: 100%;
  padding-left: 5px;
}

.modal-passengers-list table th,
.modal-passengers-list table td {
  text-align: left;
  font-size: 0.9em;
}

.modal-passengers-list table td.name {
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.modal-btn {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-btn i {
  margin-right: 10px !important;
}

@media (max-width: 540px) {
  .btn {
    width: 100%;
  }
}
