.top-bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-bar .btn {
  position: absolute;
  left: 0;
}

#week-days {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 5px 5px 0;
}

.form-fields-row {
  display: flex;
  gap: 20px;
}

#campus-field {
  flex: 1;
}

#address {
  display: flex;
  gap: 10px;
}

@media (max-width: 540px) {
  #week-days,
  #address {
    flex-direction: column;
  }
}
