* {
  outline: none;
}

body {
  background-color: #faf9f6 !important;
}

.sub {
  color: #0f3e5c;
  font-weight: 650;
}

.sub i {
  margin-right: 10px;
}

.titulo {
  color: #0f3e5c;
  text-align: center;
}

.blocoinfo {
  padding-bottom: 1.5em;
}

button.acao {
  border: none;
  background: none;
  color: #0f3e5c;
  margin-left: 10px;
  margin-right: -10px;
}

.btn-primary {
  color: #000000 !important;
  background-color: #4ebfff !important;
  border-color: #4ebfff !important;
  margin-top: 1em;
  margin-bottom: 2em;
  -webkit-box-shadow: 0px 6px 7px 0px rgba(50, 50, 50, 0.58);
  -moz-box-shadow: 0px 6px 7px 0px rgba(50, 50, 50, 0.58);
  box-shadow: 0px 6px 7px 0px rgba(50, 50, 50, 0.58);
  border-radius: 10px !important;
}

#navigation {
  width: 100%;
  min-height: 100px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-shrink: 2;
  flex-wrap: wrap;
}

ion-icon {
  color: rgb(0, 0, 94);
  font-size: 2rem;
  padding: 10px;
  border-radius: 50%;
  transition: 0.5s ease;
  cursor: pointer;
}

ion-icon:hover {
  background-color: rgb(209, 217, 255);
}

#puccaronas {
  font-size: 3em;
  font-weight: 750;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 0.4em;
  line-height: 0.9;
}

#subtitulo {
  padding-bottom: 1em;
}

#map {
  width: 100%;
  height: 350px;
  background-color: gray;
  border: 6px solid #0f3e5c;
}

#unidade {
  color: #0f3e5c;
  font-weight: 750;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 0.4em;
  text-align: center;
}

.bloco {
  display: flex;
  color: #0f3e5c;
  margin-top: 1em;
  font-size: 1.15rem;
  justify-content: left;
  align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .bloco {
    margin-left: 20vw;
    margin-right: 20vw;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .bloco {
    margin-left: 32vw;
    margin-right: 32vw;
  }
}

@media screen and (min-width: 1921px) {
  .bloco {
    margin-left: 35vw;
    margin-right: 35vw;
  }
}
