:root {
  --main-blue: #0f3e5c;
}

.title {
  font-size: 36px;
}

#map {
  width: 100%;
  height: 50vh;
  border: 5px solid var(--main-blue);
  border-radius: 10px;
  font-family: inherit;
}

.leaflet-popup-content {
  width: 150px;
  margin: 0;
  padding: 5px 10px;
  text-align: center;
}

.leaflet-popup-content strong {
  display: block;
}

#benefits li {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  font-weight: 600;
}

#benefits li .arrow {
  margin-right: 15px;
}

#benefits li:not(:last-child) {
  margin-bottom: 20px;
}

#go-btn {
  width: 100%;
}
