:root {
  --btn-blue: #4ebfff;
}

.card {
  position: relative;
  justify-content: initial;
  gap: 15px;
}

.card .info h3 {
  font-weight: 500;
}

button {
  all: unset;
}

.card .details-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}
