@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
  --bg: #faf9f6;
  --main-blue: #0f3e5c;
  --btn-blue: #4ebfff;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--main-blue);
}

body,
input,
button {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

body {
  width: 100%;
  height: 100vh;
}

#navigation {
  width: 100%;
  min-height: 100px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-shrink: 2;
  flex-wrap: wrap;
}

ion-icon {
  color: rgb(0, 0, 94);
  font-size: 2rem;
  padding: 10px;
  border-radius: 50%;
  transition: 0.5s ease;
  cursor: pointer;
}

ion-icon:hover {
  background-color: rgb(209, 217, 255);
}

.container {
  margin-top: 20px;
}

.title {
  font-weight: 700;
  text-shadow: 0px 4px 4px #00000040;
  padding: 20px;
  padding-top: 0;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

form {
  width: 100%;
}

label {
  color: #222;
  padding-left: 5px;
  cursor: pointer;
}

input:not([type='radio']) {
  width: 100%;
  padding: 10px;
  border: none;
  border-top: 1px solid #f0f0f0;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input[type='radio'],
input[type='checkbox'] {
  cursor: pointer;
}

button {
  cursor: pointer;
}

button[type='submit'] {
  width: 100%;
  background-color: var(--btn-blue);
  border: none;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-shadow: 0px 4px 4px #00000040;
  font-size: 1em;
  font-weight: 500;
  transition: 50ms;
}

button[type='submit']:active {
  transform: translateY(4px);
  box-shadow: none;
}

.btn-icon {
  background: none;
  border: none;
}
