@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

:root {
  --bg-white: #faf9f6;
  --main-blue: #0f3e5c;
  --btn-blue: #4ebfff;
  --red: #bd6c6c;
  --dark-red: #870707;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--bg-white);
  color: var(--main-blue);
}

body,
input,
select,
option,
button {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

body {
  width: 100%;
  height: 100vh;
}

.container {
  margin-top: 20px;
}

h1,
.title {
  font-weight: 700;
  text-shadow: 0px 4px 4px #00000040;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--main-blue);
}

.upper {
  text-transform: uppercase;
}

.logo-sm {
  width: 50px;
}

.logo-md {
  width: 100px;
}

.logo-lg {
  width: 200px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 15%;
  gap: 20px;
  margin-top: 20px;
}

/* -------------------------------- LISTS -------------------------------- */
ul {
  list-style-type: none;
}

.list {
  width: 500px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
}

.empty-msg {
  text-align: center;
  font-size: 0.9em;
  color: #777;
}

.card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px #ccc;
  background-color: #fefefe;
}

.card .info {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
  padding-right: 10px;
}

.card .info > div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.card .info .row {
  display: flex;
  align-items: center;
  gap: 20px;
}

.card .info .row > div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.card .info .row.ride:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card .info .row:not(:last-child) {
  margin-bottom: 20px;
}

.card .info div i {
  font-size: 1.2em;
}

.card .info div .icon {
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .actions {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  flex: 0.1;
  height: 100px;
  padding-left: 10px;
  margin-left: 10px;
}

.card .actions::before {
  position: absolute;
  left: -1px;
  top: 50%;
  transform: translateY(-50%);
  content: '';
  width: 1px;
  height: 100%;
  background-image: linear-gradient(to top, #fefefe, #ccc, #fefefe);
}

/* -------------------------------- FORMS -------------------------------- */
form {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.submit {
  margin-top: 10px;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  color: #222;
  cursor: pointer;
}

input,
select,
option {
  font-size: 0.9em;
}

input:not([type='radio']),
select {
  width: 100%;
  padding: 10px 5px;
  border: none;
  border-top: 1px solid #f0f0f0;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input:not([type='radio']) {
  padding: 10px;
}

input[type='radio'],
input[type='checkbox'] {
  cursor: pointer;
}

option {
  padding: 10px;
}

/* -------------------------------- BUTTONS -------------------------------- */
button,
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  background-color: var(--btn-blue);
  color: initial;
  border: none;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1em;
  font-weight: 600;
  text-align: center;
  transition: 50ms;
}

button:active:not(:disabled),
.btn:active {
  transform: translateY(4px);
  box-shadow: none;
}

button:disabled {
  cursor: default;
  box-shadow: none;
}

button i:not(.icon-btn),
.btn i:not(.icon-btn) {
  margin-right: 5px;
}

.icon-btn {
  width: auto;
  box-shadow: none;
  background: none;
  border: none;
  font-size: 1.3em;
}

.icon-btn:hover {
  background-color: #e5e5e5;
}

.edit-icon {
  color: var(--main-blue);
}

.delete-icon {
  color: var(--dark-red);
}

.cancel-btn {
  background-color: var(--red);
  color: #fff;
}

button.saved {
  background-color: #70bcbe;
}

button.error {
  background-color: var(--red);
}

div.error,
span.error {
  color: var(--red);
  font-size: 0.9em;
}

.details-btn {
  width: auto;
  padding: 5px;
  padding-right: 10px;
  background: none;
  border: none;
  color: var(--btn-blue);
  font-size: 1em;
  font-weight: 500;
  box-shadow: none;
  cursor: pointer;
}

.outlined {
  background-color: transparent;
  border: 2px solid var(--main-blue);
  color: var(--main-blue);
}

/* -------------------------------- FONTS -------------------------------- */
.weight-400 {
  font-weight: 400;
}

.weight-600 {
  font-weight: 600;
}

.weight-700 {
  font-weight: 700;
}

.weight-800 {
  font-weight: 800;
}

.number-size {
  font-size: 0.95em;
}

.smaller {
  font-size: 0.9em;
}

/* -------------------------------- MODALS -------------------------------- */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  z-index: 1;
}

.modal.opened {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-box {
  background-color: var(--bg-white);
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  color: var(--main-blue);
  box-shadow: 0px 0px 20px 0px #444;
}

.modal-top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close-modal {
  position: relative;
  font-size: 1em;
  padding: 5px;
  color: #555;
}

.close-modal::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f00d';
}

.modal-top-bar::after:hover {
  background-color: #ddd;
}

.modal-content {
  padding: 20px;
}

.hidden {
  display: none !important;
}

/* -------------------------------- MEDIA QUERIES -------------------------------- */
@media (max-width: 1024px) {
  main {
    padding: 20px;
  }
}

@media (max-width: 540px) {
  form,
  .list,
  .modal-box {
    width: 100%;
  }

  .row.route {
    flex-direction: column;
    align-items: flex-start !important;
    gap: 10px !important;
  }
}
