@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

#navigation {
  width: 100%;
  background-color: #fefefe;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-shrink: 2;
  flex-wrap: wrap;
}

#menu-mobile {
  font-size: 3rem;
  display: none;
}

.menu-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.menu-option span {
  color: #0f3e5c;
  font-weight: 600;
}

.menu-option.active ion-icon {
  background-color: #d1d9ff;
}

ion-icon {
  color: #0f3e5c;
  font-size: 2rem;
  padding: 10px;
  border-radius: 50%;
  transition: 0.2s ease;
}

ion-icon:hover {
  background-color: #d1d9ff;
}

.mobileNav {
  flex-direction: column;
  height: auto;
}

.mobileItem {
  display: block;
  margin: 20px 0;
}

@media (max-width: 560px) {
  ion-icon {
    display: none;
  }

  #navigation {
    justify-content: center;
  }

  #menu-mobile {
    display: block;
  }
}

footer {
  width: 100%;
  height: 600px;
  background-color: #fefefe;
  position: absolute;
  bottom: -560px;
  display: flex;
  flex-direction: column;
}

.footer-ativo {
  bottom: 0 !important;
  transition: 1s ease;
}

.footer {
  height: 100%;
  margin: 50px 100px;
  padding: 50px;
  border: 1px solid white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  transition: 1s ease;
}

#subir-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.integrante {
  display: flex;
  align-items: center;
  margin-top: 30px;
  gap: 10px;
  cursor: pointer;
}

.integrante img {
  border-radius: 50%;
  width: 50px;
}
