.card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px #ccc;
  background-color: #fefefe;
}

.card .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 10px;
}

.card .info div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.card .info div i {
  font-size: 1.2em;
}

.card .info div .icon {
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .actions {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.card .actions::before {
  position: absolute;
  left: -1px;
  top: 50%;
  transform: translateY(-50%);
  content: '';
  width: 1px;
  height: 100%;
  background-image: linear-gradient(to top, #fefefe, #ccc, #fefefe);
}
